body {
  font: 14px Georgia, serif;
  line-height: 1.5;
  padding: 20px 0 0 20px;
}

a:link, a:visited {
  color: #0000ab;
}

ol {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style-type: decimal;
}

ol li {
  margin: 2px 0;
}

h1 {
  font-size: 18px;
}
