    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Haraka</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li{% if page.url == "/about.html" %} class="active"{% endif %}>
              <a href="/about.html">About</a>
            </li>
            <li{% if page.url == "/community.html" %} class="active"{% endif %}>
              <a href="/community.html">Community</a>
            </li>
            <li{% if page.url == "/users.html" %} class="active"{% endif %}>
              <a href="/users.html">Known Users</a>
            </li>
            <li>
              <a href="https://github.com/haraka/Haraka">Source on Github</a>
            </li>
            <li {% if page.url == "/README.html" %} class="active"{% endif %}>
              <a href="/README.html">Manual</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
