    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/holder.js"></script>
    <!-- <script src="/js/application.js"></script> -->
    <script>
    $('.bs-sidebar ul ul').each(function (i, el) {
        if (!$(el).find('li.active').length) {
            $(el).collapse('toggle');
        }
    });
    $('a.submenu').on('touchstart', function(e) { e.stopPropagation(); });
    </script>
